<!DOCTYPE HTML>
<html>
	<head>
	<title>
		Chara Maker
	</title>
	<link rel="stylesheet" href="../../public/stylesheets/reset.css">
	<link rel="stylesheet" href="../../public/stylesheets/charmaker-style.css">
	</head>
	<body>
		<h1>Character Maker</h1>
		
		<canvas id="myCanvas" width="256" height="22"></canvas>
		<script src="../../public/javascripts/charmaker-script.js"></script>
		
		<h2>Body</h2>
		<h3>Base</h3>
		<img src="sprites/icon/none.png" onclick="switchBase('none')"/>
		<img src="sprites/icon/base_1_1.png" onclick="switchBase('base_1_1')" />
		<img src="sprites/icon/base_1_2.png" onclick="switchBase('base_1_2')" />
		<img src="sprites/icon/base_1_3.png" onclick="switchBase('base_1_3')" />
		<img src="sprites/icon/base_1_4.png" onclick="switchBase('base_1_4')" />
		<h3>Clothes</h3>
		<img src="sprites/icon/none.png" onclick="switchClothes('none')"/>
		<img src="sprites/icon/clothes_1_1.png" onclick="switchClothes('clothes_1_1')" />
		<img src="sprites/icon/clothes_2_1.png" onclick="switchClothes('clothes_2_1')" />
		<h2>Head</h2>
		<h3>Beard</h3>
		<img src="sprites/icon/none.png" onclick="switchBeard('none')"/>
		<img src="sprites/icon/beard_1_1.png" onclick="switchBeard('beard_1_1')" />
		<img src="sprites/icon/beard_1_2.png" onclick="switchBeard('beard_1_2')" />
		<h3>Eyes</h3>
		<img src="sprites/icon/none.png" onclick="switchEyes('none')"/>
		<img src="sprites/icon/eyes_1_1.png" onclick="switchEyes('eyes_1_1')" />
		<img src="sprites/icon/eyes_1_2.png" onclick="switchEyes('eyes_1_2')" />
		<img src="sprites/icon/eyes_2_1.png" onclick="switchEyes('eyes_2_1')" />
		<img src="sprites/icon/eyes_3_1.png" onclick="switchEyes('eyes_3_1')" />
		<h3>Hair</h3>
		<img src="sprites/icon/none.png" onclick="switchHair('none')"/>
		<img src="sprites/icon/hair_1_1.png" onclick="switchHair('hair_1_1')" />
		<img src="sprites/icon/hair_1_2.png" onclick="switchHair('hair_1_2')" />
		<img src="sprites/icon/hair_2_1.png" onclick="switchHair('hair_2_1')" />
		<h3>Hat</h3>
		<img src="sprites/icon/none.png" onclick="switchHat('none')"/>
		<img src="sprites/icon/hat_1_1.png" onclick="switchHat('hat_1_1')" />
		<img src="sprites/icon/hat_2_1.png" onclick="switchHat('hat_2_1')" />
		<img src="sprites/icon/hat_3_1.png" onclick="switchHat('hat_3_1')" />
		<img src="sprites/icon/hat_3_2.png" onclick="switchHat('hat_3_2')" />
		<img src="sprites/icon/hat_4_1.png" onclick="switchHat('hat_4_1')" />
		<img src="sprites/icon/hat_5_1.png" onclick="switchHat('hat_5_1')" />
		<img src="sprites/icon/hat_6_1.png" onclick="switchHat('hat_6_1')" />
		<img src="sprites/icon/hat_7_1.png" onclick="switchHat('hat_7_1')" />
	</body>
</html>   
