<style type='text/css'>
    body,html {
      height: 100%;
    }
    
    body {
      padding-top: 50px;
    }
    
    .wide {
      width:100%;
      height:100%;
      height:calc(30% - 1px);
      background-image:url('/images/tux_concept_zpsymbxddn4.JPG');
      background-size:cover;
    }
    
    .wide img {
      width:100%;
    }
    
    .logo {
      color:#111;
      font-weight:800;
      font-size:24pt;
      padding:25px;
      text-align:center;
    }
    
    .line {
      padding-top:20px;
      white-space:no-wrap;
      overflow:hidden;
      text-align:center;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tuxemon</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://www.tuxemon.org">Back</a></li>
        <li class="active"><a href="#">Monster Maker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Monster Maker</div>
    <div class="col-xs-5 line"><hr></div>
</div>
